<link rel="stylesheet" href="/css/signIn.css">

<form action="/users/create-session" method="POST">
    <h1>Sign In</h1>
    <input type="email" id="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="button" value="Sign In">
</form>