#user-chat-box{
    position: fixed;
    bottom: 80px;
    right: 10px;
    min-width: 200px;
    width: 20vw;
    // height: 40vh;
    aspect-ratio: 3/4;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5px;
        #chat-messages-list{
            list-style: none;
            padding: 5px;
            height: 70%;
            margin: 0;
            background-color: #fff;
            overflow: auto;
            .other-message{
                text-align:left;
                padding: 2px;
                span{
                    display: inline-block;
                    padding: 5px;
                    background-color: #ffa0a0;
                }
            }
            .self-message{
                text-align:right;
                padding: 2px;
                span{
                    display: inline-block;
                    padding: 5px;
                    background-color: #a0ffa0;
                }
            }
        }
        #chat-message-input-container{
            height: 20%;
            width: 100%;
            display:flex;
            flex-direction: row;
            align-items: end;
            #chat-message-input{
                height: 50%;
                width: 70%;
                align-self: flex-end;
            }
            #send-message{
                height: 58%;
                width: 30%;
                font-size: 1.2em;
                color: white;
                border: none;
                background-color: #58d258;
                align-self: flex-end;
            }
        }

    }
