*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

#page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    #layout-main{
        padding-bottom: 10%;
    }
}
  